footer
  .container.text-center
    p.pull-left © Talha Zia, Parth Patel, Ahmed Salah
    ul.pull-right.list-inline
      li
        a(href='https://github.com/parth-r-patel/cloud-project') GitHub Project
     
