extends layout

block content
  .page-header
    h3 Upload File
  form.form-horizontal(method='POST', enctype="multipart/form-data")
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='fileName') File Name
      .col-sm-7
        input.form-control(type='fileName', name='fileName', id='fileName', placeholder='File Name', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='location') Location
      .col-sm-7
        input.form-control(type='file', name='location', id='location', accept=".pdf", placeholder='Location', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user
          | Upload
